.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(123, 123, 123);
    margin: 45px 0;
    padding: 0 200px 30px 200px;
    font-weight: 300;
    gap: 100px;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: left;
  position: relative;
}

.text-button.active {
    font-weight: 500;
}

.text-button.active::after {
    content: '';
    position: absolute;
    left: -8px;
    right: -8px;
    bottom: -32px;
    height: 3px;
}

.text-button::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -32px;
  height: 3px;
  background-color: currentColor;
  transition: all 0.3s ease;
}

.text-button:hover::after {
  left: -8px;
  right: -8px;
}