<div class="nav">
        <button class="text-button" 
                [routerLink]="''" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
            Home
        </button>
        <button class="text-button" 
                [routerLink]="'films'" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
            Films
        </button>
        <button class="text-button" *ngIf="isLoggedIn"
                [routerLink]="'profile'" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
            Profile
        </button>
        <button class="text-button" *ngIf="!isLoggedIn" 
                [routerLink]="'login'" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
            Login
        </button>
        <button class="text-button" *ngIf="isLoggedIn" 
                (click)="logout()">
            Logout
        </button>
</div>
<router-outlet></router-outlet>