.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    background-color: #102037;
    padding: 45px 192px 30px 192px;
    font-weight: 300;
    gap: 100px;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: white;
  cursor: pointer;
  outline: none;
  text-align: left;
  position: relative;
}

.text-button.active {
    font-weight: 500;
    color: white;
}

.text-button.active::after {
    color: white;
    content: '';
    position: absolute;
    left: -8px;
    right: -8px;
    bottom: -42px;
    height: 3px;
}

.text-button::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -42px;
    height: 3px;
    background-color: currentColor;
    color: white;
    transition: all 0.3s ease;
}

.text-button:hover::after {
    left: -8px;
    right: -8px;
    color: white;
}

.middle{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 50px;
    left: 50%;
    transform: translateX(-50%);
}

p.contact-me{
    margin: 0;
    padding: 10px 15px;
    border-radius: 8px;
    border: solid white 1px;
    text-decoration: none;
    color: white;
}

p.contact-me:hover{
    color: #102037;
    background-color: white;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

h1{
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}