.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(123, 123, 123);
    margin: 45px 0;
    padding-bottom: 30px;
    font-weight: 300;
}

.logo{
    width: 40px;
    position: absolute;
    top: 35px;
    left: 75px;
}

.rightnav{
    margin-left: 200px;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: left;
  position: relative;
  margin-right: 100px;
}

.text-button.active {
    font-weight: 500;
}

.text-button.active::after {
    content: '';
    position: absolute;
    left: -8px;
    right: -8px;
    bottom: -32px;
    height: 3px;
}

.text-button::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -32px;
  height: 3px;
  background-color: currentColor;
  transition: all 0.3s ease;
}

.text-button:hover::after {
  left: -8px;
  right: -8px;
}