<body>
    <div class="firstComment">
        <p class="comment1">"I freaking love this film. Best film I have ever seen in my life. The production and every actor is so good. I love the decors too."</p>
        <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.38 110.82">
        <defs>
            <style>
            .cls-1 {
                fill: #fff;
                stroke: #000;
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 1px;
            }
            </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer_1">
            <path class="cls-1" d="M17.98,92.64H6.45c-3.28,0-5.95-2.79-5.95-6.22V6.72C.5,3.29,3.16.5,6.45.5h177.48c3.28,0,5.95,2.79,5.95,6.22v79.7c0,3.44-2.66,6.22-5.95,6.22H52.4"/>
            <polyline class="cls-1" points="52.4 92.64 35.45 110.1 17.98 92.64"/>
        </g>
        </svg>
    </div>
    <div class="secondComment">
        <p class="comment2">"One of the worst experience in my entire life. The most boring 3 hours of a lifetime. Avatar is worth nothing, don't go see it."</p>
        <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.38 110.82">
        <defs>
            <style>
            .cls-1 {
                fill: #fff;
                stroke: #000;
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 1px;
            }
            </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer_1">
            <path class="cls-1" d="M17.98,92.64H6.45c-3.28,0-5.95-2.79-5.95-6.22V6.72C.5,3.29,3.16.5,6.45.5h177.48c3.28,0,5.95,2.79,5.95,6.22v79.7c0,3.44-2.66,6.22-5.95,6.22H52.4"/>
            <polyline class="cls-1" points="52.4 92.64 35.45 110.1 17.98 92.64"/>
        </g>
        </svg>
    </div>
    <div class="thirdComment">
        <p class="comment3">"Coming out the movie theater, I was a bit confused. I didn't understand the end of the film. The film was OK."</p>
        <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.38 110.82">
        <defs>
            <style>
            .cls-1 {
                fill: #fff;
                stroke: #000;
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 1px;
            }
            </style>
        </defs>
        <g id="Layer_1-2" data-name="Layer_1">
            <path class="cls-1" d="M17.98,92.64H6.45c-3.28,0-5.95-2.79-5.95-6.22V6.72C.5,3.29,3.16.5,6.45.5h177.48c3.28,0,5.95,2.79,5.95,6.22v79.7c0,3.44-2.66,6.22-5.95,6.22H52.4"/>
            <polyline class="cls-1" points="52.4 92.64 35.45 110.1 17.98 92.64"/>
        </g>
        </svg>
    </div>
    <div class="content">
        <h1 class="logo">CineCritique</h1>
        <div class="home">
            <h1>Your film.</h1>
            <h1>Your review.</h1>
            <h1>Your community.</h1>
        </div>
        <div class="button-film">
            <button [routerLink]="['/films']">Review a film</button>
        </div>
    </div>
    <p>"The ultimate destination for the best reviews of your favorite films!"</p>
</body>
