<div *ngIf="film">
    <h1>{{ film.title }}</h1>
    <img *ngIf="film.poster_image" [src]="film.poster_image" alt="{{ film.title }} poster">
    <p>{{ film.description }}</p>
    <p>{{ film.date_published }}</p>
  
    <h2>Reviews</h2>
    <div *ngFor="let review of film.reviews">
      <p><strong>{{ review.user }}</strong> - {{ review.rating }} Stars</p>
      <p>{{ review.description }}</p>
      <p><em>Published on: {{ review.date_created }}</em></p>
    </div>
  
    <div *ngIf="isLoggedIn">
      <h3>Add a Review</h3>
      <form (ngSubmit)="submitReview()">
        <label for="rating">Rating:</label>
        <select [(ngModel)]="reviewData.rating" name="rating" required>
          <option *ngFor="let star of stars" [value]="star">{{ star }} Star(s)</option>
        </select>
  
        <label for="description">Description:</label>
        <textarea [(ngModel)]="reviewData.description" name="description" required></textarea>
  
        <button type="submit">Submit Review</button>
      </form>
    </div>
  </div>
  