<div *ngIf="film" class="film-container">
    <div class="film-details">
        <h1>{{ film.title }}</h1>
        <p>{{ film.description }}</p>
        <p class="date">{{ film.date_published }}</p>
    </div>
    <div class="reviews">
        <h2>Reviews</h2>
        <div class="review-cards-container">
            <div *ngFor="let review of film.reviews" class="review-card">
                <p><strong>{{ review.user }}</strong> - <span class="rating">★</span> {{ review.rating }}</p>
                <p><em>{{ review.date_created }}</em></p>
                <p>{{ review.description }}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoggedIn && !hasMaxReviews(film)" class="review-form">
    <h3>Add a Review</h3>
    <form (ngSubmit)="submitReview()">
        <div>
            <label for="rating">Rating:</label>
            <select [(ngModel)]="reviewData.rating" name="rating" required>
                <option *ngFor="let star of [1, 3, 5]" [value]="star">{{ star }} Star(s)</option>
            </select>
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea [(ngModel)]="reviewData.description" name="description" required></textarea>
        </div>

        <button type="submit">Submit Review</button>
    </form>
</div>